.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 700px;
  height: 700px;
}

.img {
  display: block;
  
  width: 400px;
  height: 500px;
  border-radius: 50%;
  margin: 0;

  color: #FFFFFF;
  background: #333333;
  box-shadow: #FFF 0px 0px 65px, #FFF 0px 0px 10px, #FFF 0px 0px 25px;
}


.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #545dab;
  margin-bottom: 50px;

  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 4px 5px 5px #545dab;
}
